
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - cdn.redcoat.dev
  resources:
  - clusterdistributionclasses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - cdn.redcoat.dev
  resources:
  - distributionclasses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - cdn.redcoat.dev
  resources:
  - distributions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cdn.redcoat.dev
  resources:
  - distributions/finalizers
  verbs:
  - update
- apiGroups:
  - cdn.redcoat.dev
  resources:
  - distributions/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - serviceaccounts/token
  verbs:
  - create
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - get
  - list
  - watch
