
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: distributionclasses.cdn.redcoat.dev
spec:
  group: cdn.redcoat.dev
  names:
    kind: DistributionClass
    listKind: DistributionClassList
    plural: distributionclasses
    singular: distributionclass
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: A DistributionClass represents a namespaced-scoped configuration
          for a third party Content Delivery Network / Edge Cache (eg CloudFront).
          This holds generic configuration about a CDN integration, such as access
          tokens, or other CDN-specific configurations.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: Configuration for the DistributionClass or ClusterDistributionClass
              resource
            properties:
              providers:
                description: List of one or more providers to deploy Distributions
                  to. At least one must be provided
                properties:
                  cloudfront:
                    description: If this block exists, Distributions referencing this
                      DistributionClass will be setup in CloudFront. You can specify
                      an Access Key and Secret key in this block, or authorize the
                      pod directly by setting the AWS_ACCESS_KEY_ID / AWS_ACCESS_KEY_ID
                      environment variables, or using AWS' IAM Roles For Service Accounts
                      (IRSA) Controller.
                    properties:
                      auth:
                        description: Details on how to authenticate with the AWS API.
                          If this is not specified, we will fall back to the ambient
                          credentials given to the controller pod.
                        properties:
                          accessKeyRef:
                            description: 'A reference to a secret containing an AWS
                              Access ID and Secret Key pair. The Secret must have
                              data saved in the standard fields: AWS_ACCESS_KEY_ID
                              and AWS_SECRET_ACCESS_KEY. Other fields are ingored.'
                            properties:
                              name:
                                description: The name of the resource
                                type: string
                              namespace:
                                description: The namespace of the resource. For ClusterDistributionClasses,
                                  this field is required.
                                type: string
                            required:
                            - name
                            type: object
                          jwt:
                            description: Details on how to authenticate using a ServiceAccount
                              token as a web identity for AWS STS. You should already
                              have setup the cluster as an identity provider in AWS
                              IAM.
                            properties:
                              annotationName:
                                default: eks.amazonaws.com/role-arn
                                description: The name of the annotation on the ServiceAccount
                                  to search for the Role to assume. On EKS, the standard
                                  annotation is the default ("eks.amazonaws.com/role-arn").
                                type: string
                              serviceAccount:
                                description: A reference to the ServiceAccount to
                                  use. A ServiceAccount token will be generated for
                                  this resource, and used as the web identity.
                                properties:
                                  name:
                                    description: The name of the resource
                                    type: string
                                  namespace:
                                    description: The namespace of the resource. For
                                      ClusterDistributionClasses, this field is required.
                                    type: string
                                required:
                                - name
                                type: object
                              stsAudience:
                                default: sts.amazonaws.com
                                description: The audience to use for the token. It
                                  is normally save to leave this as the default ("sts.amazonaws.com")
                                  unless you know you have a different setup.
                                type: string
                            required:
                            - serviceAccount
                            type: object
                        type: object
                      cachePolicyId:
                        description: The Policy ID of the CloudFront Cache Policy
                          you want to use on distributions. This value is normally
                          optional, but required if you want to set an originRequestPolicyId.
                        type: string
                      originRequestPolicyId:
                        description: The Policy ID of the CloudFront Origin Request
                          Policy you want to use on distributions. If you specify
                          this value, cachePolicyId is required.
                        type: string
                      sslMode:
                        default: sni-only
                        description: Set this true if you need to request a dedicated
                          IP address for your distribution in order to support legacy
                          (non-SNI) clients. Warning, this will incurr high costs
                          from AWS!
                        enum:
                        - sni-only
                        - vpi
                        - static-ip
                        type: string
                      supportedMethods:
                        description: "The list of HTTP methods to support. Others
                          will be rejected with the CDN provider's native behaviour.
                          NB: the controller can only guarantee that methods will
                          work if they are \"standard\", eg CloudFront only supports
                          HEAD, GET, OPTIONS, POST, PUT, DELETE. \n In addition, the
                          controller cannot guarantee that methods you don't specify
                          here _won't_ be accessible. For example, CloudFront only
                          supports limited subsets, so if you specify any one of POST,
                          PUT, or DELETE, all methods are enabled."
                        items:
                          type: string
                        type: array
                    required:
                    - supportedMethods
                    type: object
                type: object
            required:
            - providers
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
