
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: distributionclasses.cdn.redcoat.dev
spec:
  group: cdn.redcoat.dev
  names:
    kind: DistributionClass
    listKind: DistributionClassList
    plural: distributionclasses
    singular: distributionclass
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: A DistributionClass represents a namespaced-scoped configuration
          for a third party Content Delivery Network / Edge Cache (eg CloudFront).
          This holds generic configuration about a CDN integration, such as access
          tokens, or other CDN-specific configurations.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: Configuration for the DistributionClass resource
            properties:
              providers:
                description: List of one or more providers to deploy Distributions
                  to. At least one must be provided
                properties:
                  cloudfront:
                    description: If this block exists, Distributions referencing this
                      DistributionClass will be setup in CloudFront. You can specify
                      an Access Key and Secret key in this block, or authorize the
                      pod directly by setting the AWS_ACCESS_KEY_ID / AWS_ACCESS_KEY_ID
                      environment variables, or using AWS' IAM Roles For Service Accounts
                      (IRSA) Controller.
                    properties:
                      accessKeyID:
                        description: 'The AccessKeyID is used for authentication.
                          If not set we fall-back to using env vars, shared credentials
                          file or AWS Instance metadata see: https://docs.aws.amazon.com/sdk-for-go/v1/developer-guide/configuring-sdk.html#specifying-credentials'
                        type: string
                      cachePolicyId:
                        description: The Policy ID of the CloudFront Cache Policy
                          you want to use on distributions. This value is normally
                          optional, but required if you want to set an originRequestPolicyId.
                        type: string
                      originRequestPolicyId:
                        description: The Policy ID of the CloudFront Origin Request
                          Policy you want to use on distributions. If you specify
                          this value, cachePolicyId is required.
                        type: string
                      secretAccessKeySecretRef:
                        description: The SecretAccessKey is used for authentication.
                          If not set we fall-back to using env vars, shared credentials
                          file or AWS Instance metadata https://docs.aws.amazon.com/sdk-for-go/v1/developer-guide/configuring-sdk.html#specifying-credentials
                        properties:
                          key:
                            description: The key of the entry in the Secret resource's
                              `data` field to be used. Some instances of this field
                              may be defaulted, in others it may be required.
                            type: string
                          name:
                            description: 'Name of the resource being referred to.
                              More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                            type: string
                        required:
                        - name
                        type: object
                      sslMode:
                        default: sni-only
                        description: Set this true if you need to request a dedicated
                          IP address for your distribution in order to support legacy
                          (non-SNI) clients. Warning, this will incurr high costs
                          from AWS!
                        enum:
                        - sni-only
                        - vpi
                        - static-ip
                        type: string
                      supportedMethods:
                        description: "The list of HTTP methods to support. Others
                          will be rejected with the CDN provider's native behaviour.
                          NB: the controller can only guarantee that methods will
                          work if they are \"standard\", eg CloudFront only supports
                          HEAD, GET, OPTIONS, POST, PUT, DELETE. \n In addition, the
                          controller cannot guarantee that methods you don't specify
                          here _won't_ be accessible. For example, CloudFront only
                          supports limited subsets, so if you specify any one of POST,
                          PUT, or DELETE, all methods are enabled."
                        items:
                          type: string
                        type: array
                    required:
                    - supportedMethods
                    type: object
                type: object
            required:
            - providers
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
